<style name="hamburger">
  .hamburger-item {
    position: relative;
  }

  .hamburger-item input.menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    opacity: 0;
  }

  .hamburger-item input.menu-toggle:checked+.hamburger>div {
    transform: rotate(135deg);
  }

  .hamburger-item input.menu-toggle:checked+.hamburger>div:before,
  .hamburger-item input.menu-toggle:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .hamburger-item input.menu-toggle:checked+.hamburger>div:after {
    opacity: 0;
  }

  .hamburger-item input.menu-toggle:checked~.menu {
    pointer-events: auto;
    bottom: 0;
    right: 0;
    visibility: visible;
  }

  .hamburger-item input.menu-toggle:checked~.menu>div {

    transition-duration: 0.75s;
  }

  .hamburger-item .menu {
    position: fixed;
    bottom: -110vh;
    right: -110vw;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.4s ease;
  }

  .hamburger-item .menu>div {
    width: 100vw;
    height: 100vh;
    color: #fafafa;
    background: #4A607E;
    transition: all 0.4s ease;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
  }

  .hamburger-item .menu>div ul {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hamburger-item .menu>div ul li {
    width: 80%;
    padding: .5em;
    font: 1.5em sans-serif;
    text-align: center;
  }

  .hamburger-item .menu>div ul li+li {
    border-top: #fafafa 1px solid;
  }

  .hamburger {
    width: 48px;
    height: 48px;
    background: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger>div {
    position: relative;
    flex: none;
    width: 40%;
    height: 2px;
    background: #fafafa;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .hamburger>div:before,
  .hamburger>div:after {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    width: 100%;
    height: inherit;
    background: inherit;
    transition: all 0.4s ease;
  }

  .hamburger>div:after {
    top: 10px;
  }
</style>